/* 
@import '~font-awesome/css/font-awesome.min.css';

.row{
    margin:0px -15px;
}
.container, .container-fluid{
    padding: 20px;
    display: flex;
}
.container{
    margin:0px 15%;
}
.container-fluid{
    margin:0px 10%;
}
.d-flex{
    display: flex;
}
.d-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.align-items-center{
   align-items: center;
} */


html body header h1 {
color: blue;
}
body header.page-header h1 {
color: orange;
}
.page-header .title {
color: green;
}
#page-title {
color: red;
}