<!--Botton component-->
<!-- <div class="container d-space-between">
    <app-button lable="Info small" size="small" type="info" classes='hello world' (click)="click()"
        icon="address-book-o" [isDisabled]="isDisabled">
    </app-button>
    <app-button lable="Warning medium" size="medium" type="warning" classes='hello world' icon="address-book-o"
        (click)="activateInfo()">
    </app-button>
    <app-button lable="Danger large" size="large" type="danger" classes='hello world' icon="address-book-o"
        (click)="click()">
    </app-button>
    <app-button lable="Success extra large" size="extra-large" type="success" classes='hello world'
        icon="address-book-o" (click)="click()">
    </app-button>
</div> -->
<!--Icons component-->
<!-- <div class="container d-space-between align-items-center">
    <app-icon name='area-chart' size='small'></app-icon>
    <app-icon name='area-chart' size='small' type="info"></app-icon>
    <app-icon name='address-book-o' size='medium' type="warning">
    </app-icon>
    <app-icon name='area-chart' size='large' type="success" (click)="activateInfo()"></app-icon>
    <app-icon name='area-chart' size='extra-large' type="danger"></app-icon>
</div> -->

<!--Input component-->
<!-- <div class="container d-space-between align-items-center">
    <app-input></app-input>
</div> -->

<!--Input checkbox-->
<!-- <div class="container d-space-between align-items-center">
    <app-checkbox></app-checkbox>
</div> -->


<!--Css practice-->
<!-- <h1 style='color:gray !important' class="page-class" id="page-id">
    App
</h1> -->
<header class="page-header">
    title
    <h1 id="page-title" class="title">Wombat Coffee Roasters</h1>
    <nav>
        <ul id="main-nav" class="nav">
            List of
            <li><a href="/">Home</a></li>
            navigation links
            <li><a href="/coffees">Coffees</a></li>
            <li><a href="/brewers">Brewers</a></li>
            <li><a href="/specials" class="featured">Specials</a></li>
        </ul>
        Featured
    </nav>
    link
</header>
